### N02: Initialising Database

The purpose of this notebook is to initialize the PostgreSQL database and inject previously cleaned data for further
exploration.

Please refer to the <b><a href="https://github.com/pbquandt/Exploring_Random_Property_Markets/blob/master/README.md">README.md</a></b> document for more information.

<p style='background-color: #253d7a; margin-top:20px; padding:5px 15px; font-weight: 500; color: white;'>Importing Libraries</p>

In [1]:
from psycopg2 import connect
import pandas as pd
from sqlalchemy import create_engine
from db_auth import USER, PASSWORD

<p style='background-color: #253d7a; margin-top:20px; padding:5px 15px; font-weight: 500; color: white;'>Database Creation</p>

In [2]:
def select(sql):
    try:
        cnx = connect(user=USER, password=PASSWORD, host='localhost', database='postgres')
        cnx.autocommit = True
        cursor = cnx.cursor()
        cursor.execute(sql)
        cursor.close()
        cnx.close()
    except Exception as e:
        print(f"{e}")


def kill_connections(db_name):
    sql = f"""
    SELECT pg_terminate_backend(pid)
    FROM pg_stat_activity
    WHERE datname = '{db_name}' AND pid <> pg_backend_pid();
    """
    select(sql)

kill_connections("artificial_database")

sql1 = "DROP DATABASE artificial_database;"
select(sql1)

sql2 = "CREATE DATABASE artificial_database;"
select(sql2)

<p style='background-color: #253d7a; margin-top:20px; padding:5px 15px; font-weight: 500; color: white;'>Connecting to the 'artificial_database' database</p>

In [3]:
cnx = connect(user=USER, password=PASSWORD, host='localhost', database='artificial_database')
cursor = cnx.cursor()

<p style='background-color: #253d7a; margin-top:20px; padding:5px 15px; font-weight: 500; color: white;'>Installing the SQL schema into database</p>

In [4]:
schema = """

CREATE TABLE public.arti_data (
    city TEXT,
    category TEXT,
    created_at DATE,
    price NUMERIC,
    price_per_sqm NUMERIC,
    furnished BOOLEAN,
    total_size NUMERIC,
    registration_possible BOOLEAN,
    washing_machine BOOLEAN,
    tv BOOLEAN,
    balcony BOOLEAN,
    garden BOOLEAN,
    terrace BOOLEAN
)

"""

In [5]:
# uploading schema

cursor.execute(schema)
cnx.commit()

In [6]:
# testing 

cursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';")
print(cursor.fetchall())

[('arti_data',)]

In [7]:
# closing connection

cursor.close()
cnx.close()

<p style='background-color: #253d7a; margin-top:20px; padding:5px 15px; font-weight: 500; color: white;'>Loading the 'artificial_data_clean' file into the database.</p>

In [8]:
df = pd.read_csv('artificial_data_clean.csv')

In [9]:
url = f'postgresql+psycopg2://{USER}:{PASSWORD}@localhost:5432/artificial_database'
engine = create_engine(url)

In [10]:
def export_table_to_db(df, table_name):
    df.to_sql(table_name, con=engine, if_exists='replace', index=True, index_label='id', chunksize=1000)

In [11]:
export_table_to_db(df, 'arti_data')

<p style='background-color: #253d7a; margin-top:20px; padding:5px 15px; font-weight: 500; color: white;'>Verifying</p>

In [12]:
query = """

SELECT * FROM arti_data;

"""

In [13]:
df = pd.read_sql(query, engine)

In [14]:
df.head()

,id,city,category,created_at,price,price_per_sqm,total_size,furnished,registration_possible,washing_machine,tv,balcony,garden,terrace
0,0,Medgidia,Shared Room,2013-09-22 16:39:21,201.12,NaN,NaN,None,None,None,True,yes,yes,None
1,1,Afumati,Luxury Apartment,2013-04-13 08:49:10,1357.47,28.88,47.0,None,None,False,False,None,no,no
2,2,Toplita,Luxury Apartment,2014-10-05 12:35:02,2424.44,22.66,107.0,False,None,None,None,yes,no,None
3,3,Prejmer,Luxury Apartment,2014-10-04 23:56:36,2586.77,86.23,30.0,True,None,None,True,None,yes,yes
4,4,Afumati,Luxury Apartment,2013-06-03 09:34:30,3796.63,21.33,178.0,True,False,False,False,None,no,yes